<h1>Watch Information</h1>

<div class="watch-info">
  <!-- <div class="watch-image">
    <img src="watch-image.jpg" alt="Watch Image" width="400">
  </div> -->
  <div class="watch-details">
    <h2>Brand Rolex Watch Model</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus mauris id mattis auctor. Mauris vestibulum magna at lectus lacinia, ac tincidunt leo dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
    
    <div class="watch-specs">
      <h3>Specifications:</h3>
      <table>
        <tr>
          <th>Case Material</th>
          <td>Stainless Steel</td>
        </tr>
        <tr>
          <th>Band Material</th>
          <td>Leather</td>
        </tr>
        <tr>
          <th>Movement</th>
          <td>Automatic</td>
        </tr>
        <tr>
          <th>Water Resistance</th>
          <td>50 meters</td>
        </tr>
        <tr>
          <th>Functions</th>
          <td>Date, Chronograph</td>
        </tr>
      </table>
    </div>
  </div>
</div>
