<h1>Laptop Information</h1>

<div class="laptop-info">
  <!-- <div class="laptop-image">
    <img src="../../../assets/images/lp.jpeg" alt="Laptop Image" width="400">
  </div> -->
  <div class="laptop-details">
    <h2>Brand HP Pavilion Laptop Model</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus mauris id mattis auctor. Mauris vestibulum magna at lectus lacinia, ac tincidunt leo dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
    
    <div class="laptop-specs">
      <h3>Specifications:</h3>
      <table>
        <tr>
          <th>Processor</th>
          <td>Intel Core i7</td>
        </tr>
        <tr>
          <th>RAM</th>
          <td>16GB</td>
        </tr>
        <tr>
          <th>Storage</th>
          <td>1TB SSD</td>
        </tr>
        <tr>
          <th>Display</th>
          <td>15.6 inch Full HD</td>
        </tr>
        <tr>
          <th>Graphics</th>
          <td>NVIDIA GeForce GTX 1650</td>
        </tr>
        <tr>
          <th>Operating System</th>
          <td>Windows 10</td>
        </tr>
      </table>
    </div>
  </div>
</div>