<h1>Mobile Phone Information</h1>

<div class="mobile-info">
  <!-- <div class="mobile-image">
    <img src="mobile-image.jpg" alt="Mobile Phone Image" width="400">
  </div> -->
  <div class="mobile-details">
    <h2>Brand Samsung-F41 Mobile Model</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus mauris id mattis auctor. Mauris vestibulum magna at lectus lacinia, ac tincidunt leo dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
    
    <div class="mobile-specs">
      <h3>Specifications:</h3>
      <table>
        <tr>
          <th>Screen Size</th>
          <td>6.4 inch</td>
        </tr>
        <tr>
          <th>Display Type</th>
          <td>AMOLED</td>
        </tr>
        <tr>
          <th>Operating System</th>
          <td>Android 12</td>
        </tr>
        <tr>
          <th>Processor</th>
          <td>Qualcomm Snapdragon 888</td>
        </tr>
        <tr>
          <th>RAM</th>
          <td>8GB</td>
        </tr>
        <tr>
          <th>Internal Storage</th>
          <td>128GB</td>
        </tr>
        <tr>
          <th>Camera</th>
          <td>48MP + 12MP + 5MP</td>
        </tr>
        <tr>
          <th>Battery Capacity</th>
          <td>4000mAh</td>
        </tr>
      </table>
    </div>
  </div>
</div>
