<h1>TV Information</h1>

<div class="tv-info">
  <!-- <div class="tv-image">
    <img src="tv-image.jpg" alt="TV Image" width="400">
  </div> -->
  <div class="tv-details">
    <h2>Brand Samsung TV Model</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus mauris id mattis auctor. Mauris vestibulum magna at lectus lacinia, ac tincidunt leo dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
    
    <div class="tv-specs">
      <h3>Specifications:</h3>
      <table>
        <tr>
          <th>Screen Size</th>
          <td>55 inch</td>
        </tr>
        <tr>
          <th>Resolution</th>
          <td>4K Ultra HD</td>
        </tr>
        <tr>
          <th>Panel Type</th>
          <td>LED</td>
        </tr>
        <tr>
          <th>Smart TV</th>
          <td>Yes</td>
        </tr>
        <tr>
          <th>Operating System</th>
          <td>Android TV</td>
        </tr>
        <tr>
          <th>Connectivity</th>
          <td>Wi-Fi, Bluetooth, HDMI, USB</td>
        </tr>
        <tr>
          <th>Sound Output</th>
          <td>20W</td>
        </tr>
      </table>
    </div>
  </div>
</div>